configstore/
exercism/
fish/
gcloud/
gtk-2.0/
coc/
gh/

nvim/autoload

*.DS_Store

nvim/autoload/plug.vim
nvim/plugged/
nvim/plugin/

nvim/plugged/nord-vim/autoload
nvim/plugged/nord-vim/changelog.md
nvim/plugged/nord-vim/readme.md
nvim/plugged/nord-vim/license
memos.json
package-lock.json
