configstore/
exercism/
fish/
idea/
flutter/
gcloud/
gtk-2.0/
coc/
gh/
yarn/
Unreal Engine/
xbuild/
NuGet/
stetic/
filezilla/
iterm2/AppSupport
iterm2/sockets

nvim/autoload

*.DS_Store

nvim/autoload/plug.vim
nvim/plugged/
nvim/plugin/
tmux/plugins/

nvim/plugged/nord-vim/autoload
nvim/plugged/nord-vim/changelog.md
nvim/plugged/nord-vim/readme.md
nvim/plugged/nord-vim/license
memos.json
package-lock.json

env.sh
