configstore/
exercism/
fish/
gcloud/
gtk-2.0/
coc/
gh/

nvim/autoload

*.DS_Store

nvim/autoload/plug.vim
nvim/plugged/coc.nvim/
nvim/plugged/java-syntax.vim/
nvim/plugged/nerdcommenter/
nvim/plugged/nerdtree/
nvim/plugged/nvim-colorizer.lua/
nvim/plugged/plenary.nvim/
nvim/plugged/telescope.nvim/
nvim/plugged/ultisnips/
nvim/plugged/vim-airline/
nvim/plugged/vim-javascript/
nvim/plugged/vim-jsx-pretty/
nvim/plugged/vim-nerdtree-syntax-highlight/
nvim/plugged/vim-polyglot/
nvim/plugged/vim-react-snippets/

nvim/plugged/nord-vim/autoload
nvim/plugged/nord-vim/changelog.md
nvim/plugged/nord-vim/readme.md
nvim/plugged/nord-vim/license
